@model Product

    <div class="card bg- mb-3">
        <div class="card-header">
            <h4>@Model.ProductName</h4>
        </div>
        <div class="card-body">
            <h5>@Model.Price</h5>
            <h5>@Model.ProductDescription</h5>

            <form asp-action="AddItem" asp-controller="Cart">    
            <input type="hidden" name="ProductId" value="@Model.ProductId" />    
            <button class="btn btn-success btn-sm">Add to cart</button>      
            </form>
        </div>
    </div>


