@model IdentityRole
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div class="row">
    <div class="col-md-7">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name" class="form-control" data-val="true" data-val-required="Type a name of the role" />
                <span asp-validation-for="Name"></span>
            </div>
            <button class="btn btn-primary">Create a role</button>
        </form>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-7">
        <span>
            @ViewBag.Message
        </span>
    </div>
</div>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

