@model IEnumerable<IdentityRole>

<a asp-action="Create">New role</a>

<div class="row mt-3">
    <div class="col-md-7">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Role name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (IdentityRole ir in Model)
                {
                    <tr>
                        <td>@ir.Name</td>
                        <td>
                            <a asp-action="Delete" asp-route-roleName="@ir.Name">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-7">
        <span>@ViewBag.Message</span>
        <br />
        <a asp-action="AddToRole">Add to role</a>
    </div>
</div>


